/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

#process-select,
#sheet-flow,
#fold-only,
#fold-glue {
    display: none;
}

.image-container {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

body, main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid rgb(59, 223, 59);
    box-shadow: 0.25rem 0.25rem 0.75rem rgba(43, 150, 43, 0.579);
    width: 85dvw;
    height: 85dvh;
}

.step-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direction {
    width: 80%;
}